html {
  position: relative;
  min-height: 100%;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: var(--background);
    z-index: -1;
    background-image:
      linear-gradient(to right, var(--background-grid) 1px, transparent 1px),
      linear-gradient(to bottom, var(--background-grid) 1px, transparent 1px);
    background-size: 52px 52px;
    background-position: -26px -26px;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-mono) !important;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1rem 1.25rem;
}
