@import './assets/fonts/fonts.css';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;
  --breakpoint-*: initial;

  --color-gray-50: #f7f9ff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #f3f4ff;
  --color-gray-400: #656a7c;
  --color-gray-500: #555564;
  --color-gray-700: #282731;
  --color-gray-800: #17171a;
  --color-gray-900: #0a1109;

  --color-blue-100: #d7efff;
  --color-blue-500: #3422ff;

  --color-aqua-400: #a6ffea;
  --color-aqua-500: #66f9d6;

  --color-pink-300: #ffcfef;
  --color-pink-500: #ffa2df;

  --color-purple-50: #eae7ff;
  --color-purple-100: #e2def9;
  --color-purple-400: #b4baff;

  --breakpoint-mobile-md: 375px;
  --breakpoint-mobile-lg: 420px;
  --breakpoint-tablet: 600px;
  --breakpoint-tablet-lg: 768px;
  --breakpoint-laptop: 992px;
  --breakpoint-desktop-sm: 1200px;
  --breakpoint-desktop: 1600px;

  --font-sans: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

:root {
  --background: var(--color-purple-50);
  --background-grid: var(--color-purple-100);
  --foreground: var(--color-gray-900);
}

.dark {
  --background: var(--color-gray-900);
  --background-grid: var(--color-gray-700);
  --foreground: var(--color-gray-50);
}

@theme inline {
  --color-background: var(--background);
  --color-background-grid: var(--background-grid);
  --color-foreground: var(--foreground);
}

html {
  position: relative;
  min-height: 100%;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background: var(--background);
    z-index: -1;
    background-image:
      linear-gradient(to right, var(--background-grid) 1px, transparent 1px),
      linear-gradient(to bottom, var(--background-grid) 1px, transparent 1px);
    background-size: 52px 52px;
    background-position: -26px -26px;
  }
}
body {
  color: var(--foreground);
  font-family: var(--font-mono) !important;
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 1rem 1.25rem;
}

.box-shadow {
  border: 1px solid var(--color-gray-900);
  border-radius: 8px;
  &:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 6px;
    left: 6px;
    z-index: -1;
    background-color: var(--color-gray-900);
    border-radius: 10px;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--color-gray-50);
    border-radius: 8px;
  }
}

.dash-border {
  &:before {
    background-image: linear-gradient(
      to right,
      var(--color-gray-400) 50%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 16px 1px;
    background-repeat: repeat-x;
  }
}

.menu-toggle-inner {
  top: 50%;
  transition: all 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.075s;
  @media (prefers-reduced-motion) {
    transition: none;
  }
  &,
  &:before,
  &:after {
    width: 36px;
    height: 2px;
    background-color: var(--color-blue-500);
    border-radius: 1px;
    position: absolute;
  }
  &:before,
  &:after {
    content: '';
    display: block;
  }
  &:before {
    top: -10px;
    transition:
      top 0.075s 0.12s ease,
      opacity 0.075s ease;
    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
  &:after {
    bottom: -10px;
    transition:
      bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    @media (prefers-reduced-motion) {
      transition: none;
    }
  }
}
